/* Base  colors
#7ed56f  .//light green
#55c57a   .//medium green
#28b485   .//dark greeen
*/

//colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-grey: #777;
$color-black: #000;
$color-grey-subtle-1: #f7f7f7;
$color-grey-subtle-2: #999;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

//grid measurements
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
//fonts
$default-font: 1.6rem;
